header {
  background-color: #fff;
  padding: 16px 55px;
  box-shadow: 0 0 5px 0 rgb(201, 201, 201);
}

header p {
  color: #000;
  font-weight: 200;
  margin-bottom: 0;
}

form.input-area {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgb(201, 201, 201);

}

form.input-area input,
form.input-area textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  cursor: auto;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.input-area button {
  border-radius: 100%;
  border: none;
  background-color: white;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(201, 201, 201);
  box-shadow: inset 0 0 3px rgb(201, 201, 201);
  border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}

.notes-area {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.note {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  height: fit-content;
  margin: 10px 10px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;

  width: auto;
}
.my-masonry-grid_column {

  background-clip: padding-box;
}

