header {
  background-color: #fff;
  padding: 16px 55px;
  box-shadow: 0 0 5px 0 rgb(201, 201, 201);
}

header p {
  color: #000;
  font-weight: 200;
  margin-bottom: 0;
  margin-right: 30px;
  margin-top: 5px;
}

header .search-bar {
  width: 480px;
}

header .search-bar input {
  border: none;
  outline: none;
  cursor: auto;
  font-size: 1em;
  font-family: inherit;
  resize: none;
  background-color: rgb(235, 235, 235);
}

form.input-area {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgb(201, 201, 201);
}

form.input-area input,
form.input-area textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  cursor: auto;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.input-area button,
.modal-input button {
  border-radius: 100%;
  border: none;
  background-color: white;
}

textarea::-webkit-scrollbar {
  width: 10px;
}

textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgb(201, 201, 201);
  box-shadow: inset 0 0 3px rgb(201, 201, 201);
  border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
}

.notes-area {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  /* default width for five columns */
  width: 1300px;
}

.note {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 5px rgb(201, 201, 201);
  padding: 10px;
  width: 240px;
  height: fit-content;
  margin: 10px 10px;
  border: 1px solid transparent;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  font-weight: 600;
  word-wrap: break-word;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .delete {
  float: right;
  margin-top: -15px;
  margin-right: -15px;
  cursor: pointer;
  display: none;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.note:hover .delete {
  display: inline-block;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.my-masonry-grid {
  display: -webkit-box;
  /* Not needed if autoprefixing */
  display: -ms-flexbox;
  /* Not needed if autoprefixing */
  display: flex;

  width: auto;
}

.my-masonry-grid_column {
  background-clip: padding-box;
}

.note:hover {
  border-style: solid;
  border-color: #babac0;
}

.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(8px);
  overflow: auto;
  z-index: 99999;
}

.note-modal {
  background: #fff;
  min-width: 40%;
  min-height: 40%;
  max-width: 480px;
  max-height: 80%;
  border-radius: 15px;
  padding: 20px;
  padding: 25px;
  padding-top: 15px;
  margin: 10px 10px;
}

.modal-input textarea {
  width: 100%;
  outline: none;
  border: none;
  resize: none;
}

.modal-input [contenteditable] {
  outline: 0px solid transparent;
}

.modal-input [contenteditable]:empty::before {
  content: "Title...";
  color: gray;
}

.modal-input .input-content,
.modal-input p {
  min-height: 200px;
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.close-modal-btn {
  cursor: pointer;
}

#myContentEditable {
  font-size: 2em;
  font-weight: 600;
  min-height: 1.5em;
  max-height: 150px;
  overflow: auto;
  word-wrap: break-word;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#myContentEditable::-webkit-scrollbar {
  display: none;
}

/* four-columns-breakpoint: 1335px */
@media only screen and (max-width: 1335px) {
  .notes-area {
    width: 1040px;
  }

  .note-modal {
    min-width: 50%;
  }
}

/* three-columns-breakpoint: 1055px */
@media only screen and (max-width: 1055px) {
  .notes-area {
    width: 780px;
  }

  .note-modal {
    min-width: 65%;
  }

}

/* two-columns-breakpoint: 795px */
@media only screen and (max-width: 795px) {
  .notes-area {
    width: 520px;
  }

  .note-modal {
    min-width: 80%;
  }
}

@media only screen and (max-width: 660px) {
  header {
    padding: 16px 25px;
  }

  header p {
    margin-bottom: 5px;
  }

  header .search-bar {
    width: 80%;
  }

}

/* one-columns-breakpoint */
@media only screen and (max-width: 560px) {
  header {
    padding: 16px 25px;
  }

  .notes-area {
    width: 90vw;
  }

  form.input-area {
    width: 90vw;
  }

  .note {
    width: 90vw;
    margin: 10px auto;
  }

  .my-masonry-grid {
    margin: 0;
    padding: 0;
  }

  .note-modal {
    min-width: 90%;
  }

}